body {
  margin: 0;
  font-family: Monaco, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#8fc0a9;
  color: #f5fbef;
  font-weight: 900;
}

code {
  font-family: Monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appName {
  text-align: center;
  color: #f5fbef;
  font-family: Copperplate, papyrus, Cursive, Monospace, Fantasy;
  font-size: 400%
}

.refreshButton {
  color: #696d7d !important;
}

.addSemesterButton {
  color: #696d7d !important;
  background-color: #faf3dd !important;
}

.addModuleButton {
  color: #696d7d !important;
}
